<!-- Top menu -->
<nav class="navbar navbar-fixed-top navbar-no-bg">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed fa fa-navicon fa-2x" data-toggle="collapse" data-target="#menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" routerLink="/login" routerLinkActive="active">Welcome to Music Lovers!</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right">
                <!-- <li>
                    <a routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li>
                    <a routerLink="/home" routerLinkActive="active">Dashboard</a>
                </li> -->
                <li>
                    <a routerLink="/login" routerLinkActive="active">Login</a>
                </li>
                <!-- <li [hidden]="!loggedIn">
                    <a routerLink="/login" routerLinkActive="active" (click)="logout()">Logout</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>